<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <!-- ヘッダー部分 -->
  <header>
    <h1>{{ site.title }}</h1>
    <!-- ナビゲーションなどを追加したい場合 -->
  </header>

  <!-- メインコンテンツ -->
  <main>
    {{ content }}
  </main>

  <!-- フッター部分 -->
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  <ul>
    {% for algorithm in site.pages %}
      {% if algorithm.path contains 'algorithms/' %}
        <li><a href="{{ algorithm.url }}">{{ algorithm.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  </footer>

</body>
</html>
